<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>人人淘</title>
    <link th:href="@{/plugins/bootstrap/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/plugins/swiper/dist/css/swiper.min.css}" rel="stylesheet">
    <!--自己的样式-->
    <link th:href="@{/css/index.css}" rel="stylesheet">
</head>

<body>
<div class="container">
    <!--导航栏-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><strong style="font-size: 20px">人人淘</strong>renrentao</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">首页 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">全部商品列表</a></li>
                    <li><a href="#">限时抢购</a></li>
                    <li><a href="#">神车线报</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="商品名称">
                        </div>
                        <button type="submit" class="btn btn-default">搜索</button>
                    </form>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">联系我们 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">客服QQ：xxxxxxxx</a></li>
                            <li><a href="#">客服群号：xxxxxxxx</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">感谢您的支持</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!--轮播图-->
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <!-- Swiper -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="http://img.alicdn.com/bao/uploaded/i1/247475251/TB1XzxUzhSYBuNjSspjXXX73VXa_!!0-item_pic.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img src="http://img.alicdn.com/bao/uploaded/i1/247475251/TB1XzxUzhSYBuNjSspjXXX73VXa_!!0-item_pic.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img src="http://img.alicdn.com/bao/uploaded/i1/247475251/TB1XzxUzhSYBuNjSspjXXX73VXa_!!0-item_pic.jpg">
                    </div>
                </div>
                <!-- Add Scrollbar -->
                <div class="swiper-scrollbar"></div>
            </div>

        </div>
    </div>
    <!--大致功能块-->
    <div class="row" style="margin: 5px;">
        <div class="col-md-4 col-xs-4 renerntao-index-mokuai" style="background-color: #00F7DE">
            <img th:src="@{/images/99.png}" width="100px"><span style="font-size: 30px">9.9包邮</span>
        </div>
        <div class="col-md-4 col-xs-4 renerntao-index-mokuai" style="background-color: #46b8da">
            <img th:src="@{/images/限时抢购.png}" width="100px"><span style="font-size: 30px">限时秒杀</span>
        </div>
        <div class="col-md-4 col-xs-4 renerntao-index-mokuai" style="background-color: #b92c28">
            <img th:src="@{/images/消息.png}" width="100px"><span style="font-size: 30px">线报精选</span>
        </div>
    </div>
    <!--浏览商品模块-->
    <div class="row">
        <div class="col-md-12 col-xs-12" style="background-color: #e6e6e6">页面卡</div>
    </div>
    <!--浏览商品模块-->
    <div class="row">
        <div class="col-md-6 col-xs-6">我是商品一</div>
        <div class="col-md-6 col-xs-6">我是商品二</div>
    </div>

    <!--底部导航栏-->
    <div class="row"></div>
</div>
</body>
<!-- 根路径 -->
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    rrtPath = /*[[@{/}]]*/ '';
    /*]]>*/
</script>
<script th:src="@{/plugins/jquery.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.js}"></script>
<!-- Swiper JS -->
<script th:src="@{/plugins/swiper/dist/js/swiper.min.js}"></script>

<!--自己的js-->
<script th:src="@{/js/index.js}"></script>
</html>